proj/WebContent/wsdl/Helo22.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://proj" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://proj" xmlns:intf="http://proj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://proj" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="example">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exampleResponse">
    <complexType>
     <sequence>
      <element name="exampleReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exampleResponse">

      <wsdl:part element="impl:exampleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exampleRequest">

      <wsdl:part element="impl:example" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Helo22">

      <wsdl:operation name="example">

         <wsdl:input message="impl:exampleRequest" name="exampleRequest">

       </wsdl:input>

         <wsdl:output message="impl:exampleResponse" name="exampleResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Helo22SoapBinding" type="impl:Helo22">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="example">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exampleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exampleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Helo22Service">

      <wsdl:port binding="impl:Helo22SoapBinding" name="Helo22">

         <wsdlsoap:address location="http://localhost:8080/proj/services/Helo22"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
